<link rel="stylesheet" href="/public/css/animate.min.css"/>

<!-- Errors -->
<% if(typeof errors !="undefined" && errors.length> 0){ %>
    <ul class="notifications">
      <% for (let i=0; i < errors.length; i++) { %>
        <li class="animate__animated animate__faster animate__backInLeft errorNotification" id="errorNotification<%= i %>">
          <span class="">
            <p class="">
              <%= errors[i] %>
            </p>
            <i class="fa-regular fa-circle-xmark" onclick="closeNotification('errorNotification<%= i %>')"></i>
          </span>
        </li>
      <% } %>
    </ul>
<% } %>
   
  <!-- Success -->
<% if(typeof success !="undefined" && success.length> 0){ %>
    <ul class="notifications">
      <% for (let j=0; j < success.length; j++) { %>
        <li class="animate__animated animate__faster animate__backInLeft successNotification" id="successNotification<%= j %>">
          <span class="">
            <p class="">
              <%= success[j] %>
            </p>
            <i class="fa-regular fa-circle-check" onclick="closeNotification('successNotification<%= j %>')"></i>
          </span>
        </li>
      <% } %>
    </ul>
<% } %>

<!-- Warnings // NO usada en el momento -->
<% if(typeof warnings !="undefined" && warnings.length> 0){ %>
    <ul class="notifications">
      <% for (let k=0; k < warnings.length; k++) { %>
        <li class="animate__animated animate__faster animate__backInLeft warningNotification" id="warningNotification<%= k %>">
          <span class="">
            <p class="">
              <%= warnings[k] %>
            </p>
            <i class="fa-regular fa-circle-exclamation" onclick="closeNotification('warningNotification<%= k %>')"></i>
          </span>
        </li>
      <% } %>
    </ul>
<% } %>

<!-- 
  animate__slow	2s
  animate__slower	3s
  animate__fast	800ms
  animate__faster	500ms 
-->

<script type="text/javascript">
  function closeNotification(idElement){
    const element = document.getElementById(idElement);
    element.classList.remove('animate__backInLeft');
    element.classList.add('animate__backOutLeft');
    setTimeout(() => {
      element.style.display = 'none';
    }, 500);
  }
</script>