<!-- Errors -->

<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

<% if(typeof errors !="undefined" && errors.length> 0){ %>
    <ul class="notifications">
      <% for (let i=0; i < errors.length; i++) { %>
        <li class="animate__animated animate__backInLeft errorNotification" id="errorNotification<%= i %>">
          <span class="">
            <p class="">
              <%= errors[i] %>
            </p>
            <i class="fa-regular fa-circle-xmark" onclick="closeNotification('errorNotification<%= i %>')"></i>
          </span>
        </li>
      <% } %>
    </ul>
<% } %>
   
  <!-- Success -->
<% if(typeof success !="undefined" && success.length> 0){ %>
    <ul class="notifications">
      <% for (let j=0; j < success.length; j++) { %>
        <li class="animate__animated animate__backInLeft successNotification" id="successNotification<%= j %>">
          <span class="">
            <p class="">
              <%= success[j] %>
            </p>
            <i class="fa-regular fa-circle-check" onclick="closeNotification('successNotification<%= j %>')"></i>
          </span>
        </li>
      <% } %>
    </ul>
<% } %>

<!-- Warnings // NO usada en el momento -->
<% if(typeof warnings !="undefined" && warnings.length> 0){ %>
    <ul class="notifications">
      <% for (let k=0; k < warnings.length; k++) { %>
        <li class="animate__animated animate__backInLeft warningNotification" id="warningNotification<%= k %>">
          <span class="">
            <p class="">
              <%= warnings[k] %>
            </p>
            <i class="fa-regular fa-circle-exclamation" onclick="closeNotification('warningNotification<%= k %>')"></i>
          </span>
        </li>
      <% } %>
    </ul>
<% } %>

<script>
  function closeNotification(idElement){
    const test = document.getElementById(idElement);
    test.classList.remove('animate__backInLeft');
    test.classList.add('animate__backOutLeft');
  }
</script>